---
layout: layout.njk
---

<div class="pt-6 px-4 pb-12 max-w-prose mx-auto prose-lg md:px-6 md:prose-xl lg:mx-0 lg:pt-12 prose-headings:font-sans prose-headings:font-bold prose-h1:text-blue-800 prose-td:border-t prose-td:border-almond-400 prose-th:text-left prose-ul:list-disc prose-ol:list-decimal prose-a:underline prose-a:text-blue-800">
  {{ content | safe }}
</div>
